
* {
    font-family: 'Noto Serif', serif;
    color: #F2F3AE;
}

body {
    background-color: #020122;
}

.title {
    text-align: center;
    /* color: #C5C8C6; */
    color: #FF521B;
    font-size: 3em;
}

h1,h2,h3,h4 {
    color: #FC9E4F;
}
